rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() {
      return request.auth != null;
    }

    // Login required. This keeps random public users out.
    // To test, create users in Firebase Authentication first.

    match /employees/{employeeId} {
      allow read, create, update: if signedIn();
      allow delete: if false;
    }

    match /putAwayLogs/{logId} {
      allow read, create: if signedIn();
      allow update, delete: if false;
    }

    match /cycleCountSessions/{sessionId} {
      allow read, create: if signedIn();
      allow update, delete: if false;
    }

    match /orderPickingSessions/{sessionId} {
      allow read, create: if signedIn();
      allow update, delete: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
